section(g-class="$styles.root")
  header(g-class="$styles.header" g-show="title")
    h3(g-class="$styles.title" g-text="title")
    p(g-class="$styles.subtitle" g-show="subtitle" g-text="subtitle")
  div(g-class="$styles.body")
    slot
