# Build artifacts
node_modules/
pkg/
**/rendered/*
site/*
target/

# Data files being worked with during development
*.tmp
/share/*
/lib/*
!/share/manifest/

# Non-git hidden file patterns
.*
!.git*
docs/AUDIT_2026.md
share/manifest/ncs/
