labeled-field(label="Cash" hint="$")
  input(type="number"
        g-class="[$styles.input, cash.dirty ? $styles.dirty : '']"
        g-model="cash.value")
  span(g-class="$styles.marker" g-show="cash.dirty" title="Pending change") ●
