div(g-class="$styles.root")
  label(g-class="$styles.label")
    span(g-class="$styles.labelText" g-text="label")
    span(g-class="$styles.hint" g-show="hint" g-text="hint")
  div(g-class="$styles.control")
    slot
